<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logDir" value="${basedir}/logs/${date:format=dd.MM.yyyy}"/>

  <variable name="commonLayout" value="${longdate} ${level}: ${message}"/>
  <variable name="detailedLayout" value="${longdate} ${level}: ${message} ${exception:format=tostring} ${stacktrace} ${callsite:filename=true}"/>
  <targets async="true">
    <target name="fileInfo" type="AsyncWrapper" queueLimit="5000" overflowAction="Block">
      <target type="File" concurrentWrites="true" KeepFileOpen ="False" encoding="UTF-8" layout="${commonLayout}" fileName="${logDir}/info.log" />
    </target>
    <target name="fileWarn" type="AsyncWrapper" queueLimit="5000" overflowAction="Block">
      <target type="File" concurrentWrites="true" KeepFileOpen ="False" encoding="UTF-8" layout="${detailedLayout}" fileName="${logDir}/warn.log" />
    </target>
    <!--<target xsi:type="Database"
           name="database"
           connectionStringName="ISDUTSSModel"
           commandText="INSERT INTO [dbo].[LogEntries] ([CallSite], [Date], [Exception], [Level], [Logger], [MachineName], [Message], [StackTrace], [Thread], [Username]) VALUES (@CallSite, @Date, @Exception, @Level, @Logger, @MachineName, @Message, @StackTrace, @Thread, @Username);">
      <parameter name="@CallSite" layout="${callsite:filename=true}" />
      <parameter name="@Date" layout="${longdate}" />
      <parameter name="@Exception" layout="${exception:format=type,method:maxInnerExceptionLevel=5:innerFormat=shortType,message}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@StackTrace" layout="${stacktrace}" />
      <parameter name="@Thread" layout="${threadid}" />
      <parameter name="@Username" layout="${windows-identity:domain=true}" />
    </target>-->

    <!--<target xsi:type="BufferingWrapper"
          name="MailBuffer"
          slidingTimeout="false"
          bufferSize="100"
          flushTimeout="-1">
      <target xsi:type="Mail"
             name="mailLog"
             layout="${detailedLayout}"
             to=""
             from=""
             smtpUserName=""
             smtpPassword=""
             smtpAuthentication=""
             smtpServer=""
             smtpPort=""
             enableSsl="" />
    </target>-->
    <target xsi:type="Console"
        name="console"
        layout="${commonLayout}">
    </target>

  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="fileInfo" />
    <logger name="*" minlevel="Warn" writeTo="fileWarn" />
  </rules>
</nlog>